<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <servlet>
    <servlet-name>BmiServlet</servlet-name>
    <servlet-class>BmiServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>BmiServlet</servlet-name>
    <url-pattern>/BmiServlet</url-pattern>
  </servlet-mapping>

</web-app>